@{
    ViewBag.Title = "RejeitarCompromisso";
}

<div id="paginasErro">

    <div style="width: 100px; height: 100px; float: left">
        <img id="imgPin" src="~/Images/pinguim.png" />
    </div>
    <div style="margin-top:20px">
        <p>Compromisso Negado!</p>
    </div>
</div>
