@model CoolAgenda.ViewModels.UserVM.MeusDadosVM
@{
    ViewBag.Title = "Editar Senha";
}


<div id="paginas">
    
    <h2>Alterar Senha</h2>


    <h1>@ViewBag.Mensagem</h1>
     
    @Html.ActionLink("Voltar", "Index", "Agenda")


    </div>