@model CoolAgenda.ViewModels.UserVM.MeusDadosVM
@{
    ViewBag.Title = "EditarNome";
}


<div id="paginas">
    
    <h2>Alterar Nome</h2>


    <h1>@ViewBag.Mensagem</h1>
     
    @Html.ActionLink("Voltar", "Index", "Agenda")

    
    </div>