/********************************************************
PRINCIPAIS
*********************************************************/

html, body {
    width: 100%;
    margin: 0;
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

body {
    overflow-x:hidden;
}

a {
    color: red;
    text-decoration: none;
}

#paginas {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#paginaAgenda {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#paginasErro {
    position: absolute;
    top: 30%;
    left: 25%;
    width: 40%;
    min-width:400px;
    margin-top: 10px;
    text-align:center;
}

#imgPin {
    width:100px;
}

#imgErro {
    margin-left:60px;
    width:200px;
}

.fc-content {
    cursor: pointer;
}

.bolha {
    font-size: 0.9em;
}
/********************************************************
LOGIN
*********************************************************/

#frmLogin {
    position: absolute;
    top: 42%;
    left: 48%;
    width: 19rem;
    margin-left: -7.5rem;
    margin-top: -4.5em;
    transition: 1s ease-in-out;
}

#inputEmail {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.125rem;
    width: 100%;
    height: 3rem;
    color: #444;
    background-color: rgba(255,255,255,0.8);
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.3);
    padding: 0 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    border-top: 0;
    margin-bottom: 0px;
}

#inputSenha {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.125rem;
    width: 100%;
    height: 3rem;
    color: #444;
    background-color: rgba(255,255,255,0.8);
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.3);
    padding: 0 1rem;
    margin-bottom: 0px;
    border-radius: 0;
}

#inputEmail:focus {
    outline: none;
}

#inputSenha:focus {
    outline: none;
}

#inputEnviar:focus {
    outline: none;
}

#inputEnviar {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.125rem;
    width: 100%;
    height: 3rem;
    border: 0;
    padding: 0 1rem;
    background-color: rgba(92,168,214,0.9);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-top: 0;
    border-radius: 0 0 0.5rem 0.5rem;
    margin-bottom: 1rem;
    margin-bottom: 5px;
}

    #inputEnviar:hover {
        background-color: #3276b1;
    }

#textLogin {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.8);
    text-decoration: none;
    width: 200%;
    margin: 0 0 5px -50%;
    font-size: 1.9rem;
    line-height: 1.125;
    font-weight: bold;
    display: block;
    text-align: center;
}

.fullscreen-bg {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #213C60 url(../Images/background.png) repeat center top;
}

/********************************************************
BARRA USUARIO
*********************************************************/
#barrausuario {
    background: #372dc4; /* Old browsers */
    background: -moz-linear-gradient(top,  #372dc4 0%, #000147 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#372dc4), color-stop(100%,#000147)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #372dc4 0%,#000147 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #372dc4 0%,#000147 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #372dc4 0%,#000147 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #372dc4 0%,#000147 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#372dc4', endColorstr='#000147',GradientType=0 ); /* IE6-9 */

    height: 28px;
    color: #FFF;
    text-align: right;
    width: 98%;
    margin-left: 1%;
    margin-right: 2%;
}

    #barrausuario ul {
        position: absolute;
        margin: 0 15px 0 0;
        padding: 0;
        list-style: none;
        right: 0;
    }

        #barrausuario ul li {
            display: block;
            position: relative;
            float: left;
        }

            #barrausuario ul li a {
                display: block;
                text-decoration: none;
                color: #ffffff;
                padding: 4px 10px 4px 10px;
                margin-left: 1px;
                white-space: nowrap;
                text-shadow: 1px 2px #00030D;
            }

                #barrausuario ul li a:hover {
                    background: #060060; /* Old browsers */
                    background: -moz-linear-gradient(top,  #060060 0%, #242c93 25%, #353cff 50%, #282a96 75%, #00053a 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#060060), color-stop(25%,#242c93), color-stop(50%,#353cff), color-stop(75%,#282a96), color-stop(100%,#00053a)); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top,  #060060 0%,#242c93 25%,#353cff 50%,#282a96 75%,#00053a 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top,  #060060 0%,#242c93 25%,#353cff 50%,#282a96 75%,#00053a 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top,  #060060 0%,#242c93 25%,#353cff 50%,#282a96 75%,#00053a 100%); /* IE10+ */
                    background: linear-gradient(to bottom,  #060060 0%,#242c93 25%,#353cff 50%,#282a96 75%,#00053a 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#060060', endColorstr='#00053a',GradientType=0 ); /* IE6-9 */

                }

    #barrausuario .barraoutros {
        display: block;
        text-decoration: none;
        color: #ffffff;
        padding: 4px 10px 4px 10px;
        margin-left: 1px;
        white-space: nowrap;
    }

/********************************************************
MENU
*********************************************************/

nav {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    width: 100%;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.menu-item {
    background: #fff;
    width: 90%;
}

    /*Menu Header Estilos*/
    .menu-item h4 {
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        padding: 7px 12px;
        background: #a90329;
        border-bottom: 1px solid rgba(0,0,0,0.3);
        border-top: 1px solid rgba(255,255,255,0.2);
    }

        .menu-item h4 a {
            color: white;
            display: block;
            text-decoration: none;
            width: 90%;
        }

    .menu-item h4 {
        /*COR DEGRADE*/
        background: #372dc4; /* Old browsers */
        background: -moz-linear-gradient(top,  #372dc4 0%, #000147 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#372dc4), color-stop(100%,#000147)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #372dc4 0%,#000147 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #372dc4 0%,#000147 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #372dc4 0%,#000147 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #372dc4 0%,#000147 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#372dc4', endColorstr='#000147',GradientType=0 ); /* IE6-9*/    
        text-shadow:1px 1px #000;
    }

        .menu-item h4:hover {
            background: #050054; /* Old browsers */
            background: -moz-linear-gradient(top,  #050054 0%, #2724c9 50%, #000147 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#050054), color-stop(50%,#2724c9), color-stop(100%,#000147)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #050054 0%,#2724c9 50%,#000147 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #050054 0%,#2724c9 50%,#000147 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #050054 0%,#2724c9 50%,#000147 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #050054 0%,#2724c9 50%,#000147 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#050054', endColorstr='#000147',GradientType=0 ); /* IE6-9 */
         }

    /*ul Estilos*/
    .menu-item ul {
        background: #fff;
        font-size: 13px;
        line-height: 30px;
        list-style-type: none;
        overflow: hidden;
        padding: 0px;
    }

        .menu-item ul a {
            margin-left: 20px;
            text-decoration: none;
            color: #aaa;
            width: 200px;
        }

    /*li Estilos*/
    .menu-item li {
        border-bottom: 1px solid #eee;
    }

        .menu-item li:hover {
            background: #eee;
        }

#agendasSubMenu {
    height: 100%;
}

#tarefasSubMenu {
    height: 100%;
}

/********************************************************
VALIDAÇÕES
*********************************************************/

.validation-summary-errors {
    margin-left: 30px;
}

.errorbox {
    border: solid 1px red;
    padding: 5px 8px 5px 8px;
    text-align: left;
    vertical-align: middle;
    background-color: #F1E7D1;
}

.errorimage {
    padding: 5px 15px 5px 15px;
    background: #F1E7D1 url(/images/err-24x24.png) no-repeat;
    background-position: left center;
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}

.errorimage2 {
    padding: 5px 10px 5px 10px;
    background: #F1E7D1 url(/images/err-24x24.png) no-repeat;
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}

.errorhead {
    color: #CC0000;
    font-weight: bold;
    font-size: 15px;
    padding-left: 18px;
}


input[type="text"] .field-validation-error {
    color: #f00;
}

input[type="text"].field-validation-valid {
    display: none;
}

input[type="text"].input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

select.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

input[type="text"].validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

input[type="text"].validation-summary-valid {
    display: none;
}

/********************************************************
COMPROMISSO
*********************************************************/

#txDataInicial{
    width:120px;
    margin-bottom:0px;
}

#txDataFinal {
    width:120px;
}

a .Sclass {
    background-position: 0 0 ;
    background-repeat: no-repeat;
    background-image: url(../Images/ok.png);
    padding-left:17px
}

a .Nclass {
    background-position: 0 1px ;
    background-repeat: no-repeat;
    background-image: url(../Images/Err-16x16.png);
    background-size: 13px 13px;
    padding-left:17px;
    text-decoration: line-through;
}

a .Pclass {
    background-position: 0 0 ;
    background-repeat: no-repeat;
    background-image: url(../Images/bubble.png) ;
    padding-left:17px;
}

#agendasSubMenu li {
    cursor: pointer;
}

#notaTexto {
    width:97%;
    min-height:200px;
}

#notaForm {
    margin: 0;
}

.Tabela {
    width: 60%;
    display: inline-block;
    border: 1px solid #9AA7FF;
    border-radius: 10px;
    padding: 5px;
    float:left;
}

    .Tabela table{
        width: 100%;
    }
    .Tabela tr {
        border-bottom:1px solid #9AA7FF
    }
        .Tabela tr:last-child {
            border:none;
        }
    .Tabela td {
        text-align:center;
        padding:5px;
    }
.CabecalhoLista th {
    padding-bottom:5px;
}
.Nova {
    color: #000;
    font-style: italic;
    height: 25px;
    width: 100px;
    display: inline-block;
}
a.Nova img {
    width: 10px;
    margin-left: 10px;
    margin-right: 5px;
}

.Nova:hover {
    text-decoration: none;
    color: #4151BD;
    text-shadow: 1px 1px #E2E2E2;
}

.opcoes2 img {
    width: 18px;
}

.container {
    margin-left:2%!important;
}

label {
    font-weight:bold!important;
}

.salvar {
    float:right;
}
