/********PRINCIPAIS********/
html, body {
    width: 100%;
    margin: 0;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    overflow: hidden;
}

a {
    color: red;
    text-decoration: none;
}

#paginas {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#paginaAgenda {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/********TELA LOGIN********/

.framed {
    position: absolute;
    top: 42%;
    left: 50%;
    width: 15rem;
    margin-left: -7.5rem;
}

.formLogin {
    margin-top: -4.5em;
    transition: 1s ease-in-out;
}

.inputLogin {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.125rem;
    width: 100%;
    height: 3rem;
    color: #444;
    background-color: rgba(255,255,255,0.8);
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.3);
    padding: 0 1rem;
}

    .inputLogin:focus {
        outline: none;
    }

.inputLogin--cima {
    border-radius: 0.5rem 0.5rem 0 0;
    border-top: 0;
}

.inputLogin--submit {
    background-color: rgba(92,168,214,0.9);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-top: 0;
    border-radius: 0 0 0.5rem 0.5rem;
    margin-bottom: 1rem;
}

    .inputLogin--submit:hover {
        background-color: #3276b1;
    }

.textLogin {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.8);
    text-decoration: none;
}

.textLogin--small {
    opacity: 0.85;
    font-size: 0.75rem;
    cursor: pointer;
}

    .textLogin--small:hover {
        opacity: 1;
    }

.textLogin--config {
    width: 200%;
    margin: 0 0 5px -50%;
    font-size: 1.9rem;
    line-height: 1.125;
    font-weight: bold;
}

.textLogin--centered {
    display: block;
    text-align: center;
}

.textLogin--border-right {
    border-right: 1px solid rgba(255,255,255,0.5);
    margin-right: 0.75rem;
    padding-right: 0.75rem;
}

.fullscreen-bg {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #213C60 url(../Images/background.png) repeat center top;
}

/********BARRA USUARIO********/
#barrausuario {
    background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
    background: linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
    height: 28px;
    color: #FFF;
    text-align: right;
    width: 98%;
    margin-left: 1%;
    margin-right: 2%;
}

    #barrausuario ul {
        position: absolute;
        margin: 0 15px 0 0;
        padding: 0;
        list-style: none;
        right: 0;
    }

        #barrausuario ul li {
            display: block;
            position: relative;
            float: left;
        }

            #barrausuario ul li a {
                display: block;
                text-decoration: none;
                color: #ffffff;
                padding: 4px 10px 4px 10px;
                margin-left: 1px;
                white-space: nowrap;
            }

                #barrausuario ul li a:hover {
                    background: #cc002c; /* Old browsers */
                    background: -moz-linear-gradient(top, #cc002c 0%, #6d0019 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc002c), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top, #cc002c 0%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top, #cc002c 0%,#6d0019 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top, #cc002c 0%,#6d0019 100%); /* IE10+ */
                    background: linear-gradient(top, #cc002c 0%,#6d0019 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc002c', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
                    text-decoration: underline;
                }

    #barrausuario .barraoutros {
        display: block;
        text-decoration: none;
        color: #ffffff;
        padding: 4px 10px 4px 10px;
        margin-left: 1px;
        white-space: nowrap;
    }

/****MENU****/
nav {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    width: 100%;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.menu-item {
    background: #fff;
    width: 90%;
}

    /*Menu Header Estilos*/
    .menu-item h4 {
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        padding: 7px 12px;
        background: #a90329;
        border-bottom: 1px solid rgba(0,0,0,0.3);
        border-top: 1px solid rgba(255,255,255,0.2);
    }

        .menu-item h4 a {
            color: white;
            display: block;
            text-decoration: none;
            width: 90%;
        }

    .menu-item h4 {
        /*COR DEGRADE*/
        background: #a90329; /* Old browsers */
        background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
        background: linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
    }

        .menu-item h4:hover {
            background: #cc002c; /* Old browsers */
            background: -moz-linear-gradient(top, #cc002c 0%, #6d0019 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc002c), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #cc002c 0%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #cc002c 0%,#6d0019 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #cc002c 0%,#6d0019 100%); /* IE10+ */
            background: linear-gradient(top, #cc002c 0%,#6d0019 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc002c', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
        }

    /*ul Estilos*/
    .menu-item ul {
        background: #fff;
        font-size: 13px;
        line-height: 30px;
        list-style-type: none;
        overflow: hidden;
        padding: 0px;
    }

        .menu-item ul a {
            margin-left: 20px;
            text-decoration: none;
            color: #aaa;
            display: block;
            width: 200px;
        }

    /*li Estilos*/
    .menu-item li {
        border-bottom: 1px solid #eee;
    }

        .menu-item li:hover {
            background: #eee;
        }

#agendasSubMenu {
    height: 100%;
}

#tarefasSubMenu {
    height: 100%;
}
