@model CoolAgenda.ViewModels.AgendaVM.AgendaDadosVM
@{
    ViewBag.Title = "Agenda";
}

<div id="paginaAgenda">
    <div style="float: left; width: 13%; background: #FFF; margin-left: 1%">
        <nav>
            <div class="menu-item alpha">
                <h4><a href="#" onclick="ShowEventPopup();">Novo Compromisso</a></h4>
            </div>
            <div class="menu-item alpha">
                <h4><a href="#">Nova Tarefa</a></h4>
            </div>

            <div class="menu-item">
                <h4 id="agendasMenu"><a href="#">Minhas Agendas</a></h4>
                @{
                    
                    if (Model.TotalRegistros > 0)
                    {
                    <ul id="agendasSubMenu">
                        @for (int i = 0; i < Model.TotalRegistros; i++)
                        {
                            <li><a href="#">@Model.Lista[i].Grupo.Nome</a></li>             
                        }
                    </ul>
                    }
                    else
                    {
                    <p>Nenhum registro encontrado.</p>
                    }    
                }
            </div>

            <div class="menu-item">
                <h4 id="tarefasMenu"><a href="#">Tarefas</a></h4>
                <ul id="tarefasSubMenu">
                    <li>
                        <input type="checkbox" style="float: left" /><a class="checkList" href="#">11111111</a></li>
                    <li>
                        <input type="checkbox" style="float: left" /><a class="checkList" href="#">22222222</a></li>
                    <li>
                        <input type="checkbox" style="float: left" /><a class="checkList" href="#">3333333</a></li>
                </ul>
            </div>

        </nav>
    </div>

    <div id='calendar' style="float: right; width: 85%; background: #FFF; margin-right: 1%;"></div>

    <div id="popupEventForm" class="modal hide" style="display: none;">

        @Html.Action("Cadastrar", "Compromisso")
    </div>

</div>
@section scripts{

    <script>
        $(document).ready(function () {

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultView: 'month',
                eventLimit: true,
                editable: false,
                allDaySlot: true,
                selectable: true,
                slotMinutes: 30,
                aspectRatio: 1.8,
                timeFormat: 'H:mm',
                timezone: "local",
                eventClick: function (calEvent, jsEvent, view) {
                    alert('You clicked on event id: ' + calEvent.id
                        + "\nSpecial ID: " + calEvent.someKey
                        + "\nAnd the title is: " + calEvent.title);
                },
                dayClick: function (date, view) {
                    $('#txDataInicial').val(date.format('DD/MM/YYYY hh:mm'));
                    $('#txDataFinal').val(date.format('DD/MM/YYYY hh:mm'));;
                    ShowEventPopup(date);
                },
                dayRender: function () {
                    highlight();
                },
                events: "/Agenda/GetEvents/"
            });

            highlight();
        });

        function ShowEventPopup(date) {
            ClearPopupFormValues();
            $('#popupEventForm').show();
            $('#nomeCompromisso').focus();
        }

        function ClearPopupFormValues() {
            $('#NomeCompromisso').val("");
            $('#DataInicial').val("");
            $('#DataFinal').val("");
        }

        //MENU LATERAL
        $(function () {
            $('#agendasMenu').click(function () {
                $('#agendasSubMenu').slideToggle();
            });
        });

        $(function () {
            $('#tarefasMenu').click(function () {
                $('#tarefasSubMenu').slideToggle();
            });
        });

        $('#tarefasSubMenu input:checkbox').change(function () {
            if ($(this).is(':checked')) {
                $('.checkList').css('text-decoration', 'line-through')
            } else {
                $('.checkList').css('text-decoration', 'none')
            }
        });

        function highlight() {
            $('td.fc-day').mouseover(function () {
                var strDate = $(this).data('date');
                $(this).addClass('fc-highlight');
            });
            $('td.fc-day-number').mouseover(function () {
                var strDate = $(this).data('date');
                $("td.fc-day").filter("[data-date='" + strDate + "']").addClass('fc-highlight');
            });
            $('td.fc-day').mouseout(function () {
                $(this).removeClass('fc-highlight');
            })
            $('td.fc-day-number').mouseout(function () {
                var strDate = $(this).data('date');
                $("td.fc-day").filter("[data-date='" + strDate + "']").removeClass('fc-highlight');
            })
        };

    </script>
}
