@{
    ViewBag.Title = "Acesso Negado - Forbidden";
}

<div id="paginasErro">
    <div>
        <img id="imgErro" src="~/Images/erro.png" />
    </div>
    <div style="width: 100px; height: 100px; float: left">
        <img id="imgPin" src="~/Images/pinguim.png" />
    </div>
    <div style="margin-top:20px">
        <p>Você não tem acesso a este recurso. Contate o Administrador para dúvidas.</p>
    </div>
</div>
