@model CoolAgenda.ViewModels.UsuarioVM
@{
    ViewBag.Title = "Login";
}

    <div class="fullscreen-bg"></div>    


    @using(Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "formLogin form--login framed" }))
    {
        <h2 class="textLogin textLogin--centered textLogin--config">Cool Agenda</h2>    
        @Html.TextBoxFor(m => m.Email, "", new { @class = "inputLogin inputLogin--cima", placeholder = "Email" , required = "" })        
        @Html.PasswordFor(m => m.Senha, new { @class = "inputLogin", placeholder = "Senha", required = ""})
        <input type="submit" value="Entrar" class="inputLogin inputLogin--submit" />
    }